body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.card {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    /* border-bottom: 6px solid #d8cefe; */
    /* box-shadow: 0 4px 8px 0 rgba(15, 227, 235, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 1px 4px 10px 15px #d8cefe inset;


}

.profile {
    width: 150px;
}

.border-blue {
    border: 1px dotted blue;

}

.align-center {
    text-align: center;
}

.slide:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: slide;
    animation-timing-function: ease;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateY(0);
    }

}

.grow {
    transition: all .2s ease-in-out;

}

.grow:hover {
    transform: scale(1.3);
    cursor: pointer;
}